<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>booksFilePath</param-name>
        <param-value>/WEB-INF/books.txt</param-value>
    </context-param>
    <servlet>
        <servlet-name>ADJADisplayBooksServlet</servlet-name>
        <servlet-class>club.admin.ADJADisplayBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADJAAddBookServlet</servlet-name>
        <servlet-class>club.admin.ADJAAddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADJALoanServlet</servlet-name>
        <servlet-class>club.cart.ADJALoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADJACartServlet</servlet-name>
        <servlet-class>club.cart.ADJACartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADJAClearCart</servlet-name>
        <servlet-class>club.cart.ADJAClearCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADJAMemberAdminController</servlet-name>
        <servlet-class>club.admin.ADJAMemberAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ADJADisplayBooksServlet</servlet-name>
        <url-pattern>/ADJADisplayBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADJAAddBookServlet</servlet-name>
        <url-pattern>/ADJAAddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADJALoanServlet</servlet-name>
        <url-pattern>/ADJALoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADJACartServlet</servlet-name>
        <url-pattern>/ADJACart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADJAClearCart</servlet-name>
        <url-pattern>/ADJAClearCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADJAMemberAdminController</servlet-name>
        <url-pattern>/ADJAMemberAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ADJAIndex.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ADJAError.jsp</location>
    </error-page>
</web-app>
